<section class="first-screen">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url('img/first-screen-slide-1.jpg')">
        <div class="container">
          <h2>
            <strong>
              Проектирование и монтаж <br>
              инженерных систем отопления, водоснабжения,
              вентиляции и кондиционирования <br>
            </strong>
            на объектах любого назначения
          </h2>
          <h3>
            Вентиляция и кондиционирование
          </h3>
          <a href="#">
            Узнать подробнее
          </a>
          <ul>
            <li>
              Добиваемся рекордно низкого уровня шума (до 19 дБ).
            </li>
            <li>
              Снижаем коммунальные затраты на 10%-17%.
            </li>
            <li>
              Выполняем весь спектр работ – работаем с центральным кондиционированием,
              VRV/VRF системами, «холодными потолками», системами чиллер-фанкоил,
              а также проектируем автоматизацию систем вентиляции.
            </li>
          </ul>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url('img/first-screen-slide-2.jpg')">
        <div class="container">
          <h2>
            <strong>
              Проектирование и монтаж
              инженерных систем отопления, водоснабжения,
              вентиляции и кондиционирования
            </strong>
            на объектах любого назначения
          </h2>
          <h3>
            Отопление
          </h3>
          <a href="#">
            Узнать подробнее
          </a>
          <ul>
            <li>
              Работаем с системами для
              <strong>
                любого вида топлива.
              </strong>
            </li>
            <li>
              Гарантируем оптимизацию теплопотерь и
              <strong>
                снижение затрат на отопление
              </strong>
              на 23%-30%.
            </li>
            <li>
              <strong>
                Выполняем весь спектр работ
              </strong>
              – занимаемся установкой радиаторов, автоматизацией
              котельных и ИТП, установкой теплых полов, разводкой труб и воздушным отоплением
            </li>
          </ul>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url('img/first-screen-slide-3.jpg')">
        <div class="container">
          <h2>
            <strong>
              Проектирование и монтаж
              инженерных систем отопления, водоснабжения,
              вентиляции и кондиционирования
            </strong>
            на объектах любого назначения
          </h2>
          <h3>
            Канализация и водоснабжение
          </h3>
          <a href="#">
            Узнать подробнее
          </a>
          <ul>
            <li>
              Используем
              <strong>
                оборудование, которое не боится коррозии и вибрационных воздействий.
              </strong>
            </li>
            <li>
              <strong>
                Помогаем снизить расход воды на 34%-36%.
              </strong>
            </li>
            <li>
              <strong>
                Выполняем весь спектр работ
              </strong>
              – занимаемся разводкой труб, установкой водоразеток,
              чистовой сантехники и систем водоподготовки и очистки воды, монтажом станций
              биологической очистки и установкой чистовой сантехники.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>
