<section class="manufacturers" style="background-image: url('img/index-page-manuf-bg.jpg')">
  <div class="container">
    <div class="title">
      <p>
        03
      </p>
      <h2>
        производители
        <strong>
          Работаем только с надежными производителями
        </strong>
      </h2>
    </div>
    <div class="manufacturers__slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="manufacturers__slide">
              <img src="img/02-logo-1.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="manufacturers__slide">
              <img src="img/02-logo-2.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="manufacturers__slide">
              <img src="img/02-logo-3.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="manufacturers__slide">
              <img src="img/02-logo-4.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="manufacturers__slide">
              <img src="img/02-logo-5.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="manufacturers__slide">
              <img src="img/02-logo-6.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="manufacturers__slide">
              <img src="img/02-logo-7.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="manufacturers__slide">
              <img src="img/02-logo-8.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="manufacturers__slide">
              <img src="img/02-logo-9.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="manufacturers__slide">
              <img src="img/02-logo-10.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="manufacturers__slide">
              <img src="img/02-logo-11.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>

  </div>
</section>
