<section class="objects" style="background-image: url('img/index-page-objects-bg.jpg')">
  <div class="container">
    <div class="title">
      <p>
        01
      </p>
      <h2>
        объекты
        <strong>
          Типы объектов
        </strong>
      </h2>
    </div>
    <div class="objects__grid">
      <div class="objects__elem">
        <img src="img/01-img-1.svg" alt="">
        <p>
          Гостиницы, <br>
          отели, хостелы
        </p>
      </div>
      <div class="objects__elem">
        <img src="img/01-img-2.svg" alt="">
        <p>
          Офисные, торговые <br>
          и административные
          помещения
        </p>
      </div>
      <div class="objects__elem">
        <img src="img/01-img-3.svg" alt="">
        <p>
          Производственные
          помещения
        </p>
      </div>
      <div class="objects__elem">
        <img src="img/01-img-4.svg" alt="">
        <p>
          Складские и
          логистические
          центры
        </p>
      </div>
      <div class="objects__elem">
        <img src="img/01-img-5.svg" alt="">
        <p>
          Кафе и рестораны
        </p>
      </div>
      <div class="objects__elem">
        <img src="img/01-img-6.svg" alt="">
        <p>
          Спортивные <br>
          объекты
        </p>
      </div>
      <div class="objects__elem">
        <img src="img/01-img-7.svg" alt="">
        <p>
          Медицинские <br>
          учреждения
        </p>
      </div>
      <div class="objects__elem">
        <img src="img/01-img-8.svg" alt="">
        <p>
          Бассейны
        </p>
      </div>
      <div class="objects__elem">
        <img src="img/01-img-9.svg" alt="">
        <p>
          Частные объекты
        </p>
      </div>
      <div class="objects__elem">
        <img src="img/01-img-10.svg" alt="">
        <p>
          Объекты
          специального
          назначения
        </p>
      </div>
    </div>
  </div>
</section>
