<section class="services" style="background-image: url('img/services-bg.jpg')">
  <div class="container">
    <div class="title title--no-number">
      <h2>
        Услуги
        <strong>
          Услуги по проектированию и монтажу
        </strong>
      </h2>
    </div>
    <div class="services__description">
      <p>
        <strong>Проектно-монтажная компания Стандарт Климат</strong> специализируется на создании климатических систем под ключ. То есть мы способны спроектировать систему, предоставить все необходимое оборудование, осуществить монтаж системы, проведем пуско-наладочные работы и осуществим гарантийное, сервисное обслуживания. Таким образом в лице нашей компании вы получите готовое решения по созданию климатических систем любой сложности.
      </p>
      <p>
        Среди основных направлений деятельности мы готовы предложить своим клиентам следующее:
      </p>
    </div>
    <div class="services__grid">
      <a href="#">
        <img src="img/services-img-1.jpg" alt="">
        <h3>
          Проектирование
        </h3>
      </a>
      <a href="#">
        <img src="img/services-img-2.jpg" alt="">
        <h3>
          Монтаж и пусконаладочные работы
        </h3>
      </a>
      <a href="#">
        <img src="img/services-img-3.jpg" alt="">
        <h3>
          Поставка оборудования и материалов
        </h3>
      </a>
      <a href="#">
        <img src="img/services-img-4.jpg" alt="">
        <h3>
          Сервисное и гарантийное обслуживание
        </h3>
      </a>
    </div>
  </div>
</section>
