<section class="type-services " style="background-image: url('img/price-bg-img-5.jpg')">
  <div class="container">
    <div class="title">
      <p>
        01
      </p>
      <h2>
        Проектирование
        <strong>
          Проектирование
        </strong>
      </h2>
    </div>
    <div class="type-services__block type-services__block--design">
      <ul>
        <li>
          <a href="#">
            Проектирование отопления
          </a>
        </li>
        <li>
          <a href="#">
            Проектирование котельной
          </a>
        </li>
        <li>
          <a href="#">
            Проектирование вентелиции
          </a>
        </li>
        <li>
          <a href="#">
            Проектирование кондиционирования
          </a>
        </li>
        <li>
          <a href="#">
            Проектирование водоснабжения
          </a>
        </li>
        <li>
          <a href="#">
            Проектирование канализации
          </a>
        </li>
        <li>
          <a href="#">
            Проектирование электроснабжения
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="type-services " style="background-image: url('img/price-bg-img-6.jpg')">
  <div class="container">
    <div class="title">
      <p>
        02
      </p>
      <h2>
        Монтаж
        <strong>
          Монтаж и пуско-насадочные работы
        </strong>
      </h2>
    </div>
    <div class="type-services__block type-services__block--mounting">
      <ul>
        <li>
          <a href="#">
            Монтаж отопления
          </a>
        </li>
        <li>
          <a href="#">
            Монтаж котельной
          </a>
        </li>
        <li>
          <a href="#">
            Монтаж вентелиции
          </a>
        </li>
        <li>
          <a href="#">
            Монтаж кондиционирования
          </a>
        </li>
        <li>
          <a href="#">
            Монтаж водоснабжения
          </a>
        </li>
        <li>
          <a href="#">
            Монтаж канализации
          </a>
        </li>
        <li>
          <a href="#">
            Монтаж электроснабжения
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="type-services " style="background-image: url('img/price-bg-img-7.jpg')">
  <div class="container">
    <div class="title">
      <p>
        03
      </p>
      <h2>
        Гарантия
        <strong>
          Сервисное и гарантийное обслуживание
        </strong>
      </h2>
    </div>
    <div class="type-services__block type-services__block--guarantee">
      <ul>
        <li>
          <a href="#">
            Проектирование отопления
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
