<section class="ready-works">
  <div class="container">
    <div class="title title--no-number">
      <h2>
        Работы
        <strong>
          Выполненные работы
        </strong>
      </h2>
    </div>
    <div class="ready-works__inner-wrapper">
      <div class="ready-works__img-slider ">
        <div class="img-slider">
          <div class="img-slider__main">
            <img src="" alt="">
          </div>
          <ul class="img-slider__list">
            <li>
              <img src="img/img-slider-1.jpg" alt="">
            </li>
            <li>
              <img src="img/engin-sys-link-img.jpg" alt="">
            </li>
            <li>
              <img src="img/engin-sys-link-img-2.jpg" alt="">
            </li>
            <li>
              <img src="img/engin-sys-link-img-3.jpg" alt="">
            </li>
            <li>
              <img src="img/engin-sys-link-img-4.jpg" alt="">
            </li>
            <li>
              <img src="img/engin-sys-link-img-5.jpg" alt="">
            </li>
            <li>
              <img src="img/engin-sys-link-img-6.jpg" alt="">
            </li>
            <li>
              <img src="img/engin-sys-link-img-7.jpg" alt="">
            </li>
          </ul>
        </div>
      </div>
      <div class="ready-works__info">
        <h3>
          Объект: Ресторан “Серджио Пицца”
        </h3>
        <p>
          <strong>
            Адрес:
          </strong>
          Московская область, г. Саргиев Пассад
        </p>
        <p>
          <strong>
            Площадь помещения:
          </strong>
          300м2
        </p>
        <p>
          <strong>
            Техническое решение:
          </strong>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.
        </p>
        <p>
          <strong>
            Сроки выполнения:
          </strong>
          2 месяца
        </p>
        <p>
          <strong>
            Стоимость проекта:
          </strong>
          1 500 000 руб.
        </p>
        <button class="button button--ready-works">
          <span>
            Скачать проект
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
