<section class="cases">
  <div class="container">

    <div class="title title--no-number">
      <h2>
        Роботы
        <strong>
          Выполненые роботы
        </strong>
      </h2>
    </div>
    <div class="cases__block">
      <h3>
        Объекты по отоплению
      </h3>
      <div class="cases__grid">
        <div class="cases__item">
          <img src="img/cases-item-img.jpg">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
      </div>
    </div>
    <div class="cases__block">
      <h3>
        Объекты по вентиляции и кондиционирования
      </h3>
      <div class="cases__grid">
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
      </div>
    </div>
    <div class="cases__block">
      <h3>
        Проектные работы
      </h3>
      <div class="cases__grid">
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
        <div class="cases__item">
          <img src="img/cases-item-img.jpg" alt="">
          <h4>
            Lorem ipsum dolor sit
            amet consectetur
          </h4>
        </div>
      </div>
    </div>

  </div>
</section>

