<section class="cases">
  <div class="container">

    <div class="title title--no-number">
      <h2>
        Роботы
        <strong>
          Выполненые роботы
        </strong>
      </h2>
    </div>
  </div>
    <div class="cases__block" style="background-image: url('img/cases-bg-1.jpg')">
      <div class="container">
        <h3>
          Объекты по отоплению
        </h3>
        <div class="cases__grid">
          <a href="#" class="cases__item">
            <img src="img/cases-item-img.jpg">
            <h4>
              Lorem ipsum dolor sit
              amet consectetur
            </h4>
          </a>
          <a href="#" class="cases__item">
            <img src="img/cases-item-img.jpg" alt="">
            <h4>
              Lorem ipsum dolor sit
              amet consectetur
            </h4>
          </a>
          <a href="#" class="cases__item">
            <img src="img/cases-item-img.jpg" alt="">
            <h4>
              Lorem ipsum dolor sit
              amet consectetur
            </h4>
          </a>
          <a href="#" class="cases__item">
            <img src="img/cases-item-img.jpg" alt="">
            <h4>
              Lorem ipsum dolor sit
              amet consectetur
            </h4>
          </a>
          <a href="#" class="cases__item">
            <img src="img/cases-item-img.jpg" alt="">
            <h4>
              Lorem ipsum dolor sit
              amet consectetur
            </h4>
          </a>
          <a href="#" class="cases__item">
            <img src="img/cases-item-img.jpg" alt="">
            <h4>
              Lorem ipsum dolor sit
              amet consectetur
            </h4>
          </a>
          <a href="#" class="cases__item">
            <img src="img/cases-item-img.jpg" alt="">
            <h4>
              Lorem ipsum dolor sit
              amet consectetur
            </h4>
          </a>
          <a href="#" class="cases__item">
            <img src="img/cases-item-img.jpg" alt="">
            <h4>
              Lorem ipsum dolor sit
              amet consectetur
            </h4>
          </a>
        </div>
      </div>
    </div>
    <div class="cases__block" style="background-image: url('img/cases-bg-2.jpg')">
      <div class="container">
        <h3>
          Объекты по вентиляции и кондиционирования
        </h3>
        <div class="cases__grid">
          <a href="#" class="cases__item">
            <img src="img/cases-item-img.jpg" alt="">
            <h4>
              Lorem ipsum dolor sit
              amet consectetur
            </h4>
          </a>
          <a href="#" class="cases__item">
            <img src="img/cases-item-img.jpg" alt="">
            <h4>
              Lorem ipsum dolor sit
              amet consectetur
            </h4>
          </a>
          <a href="#" class="cases__item">
            <img src="img/cases-item-img.jpg" alt="">
            <h4>
              Lorem ipsum dolor sit
              amet consectetur
            </h4>
          </a>
          <a href="#" class="cases__item">
            <img src="img/cases-item-img.jpg" alt="">
            <h4>
              Lorem ipsum dolor sit
              amet consectetur
            </h4>
          </a>
          <a href="#" class="cases__item">
            <img src="img/cases-item-img.jpg" alt="">
            <h4>
              Lorem ipsum dolor sit
              amet consectetur
            </h4>
          </a>
          <a href="#" class="cases__item">
            <img src="img/cases-item-img.jpg" alt="">
            <h4>
              Lorem ipsum dolor sit
              amet consectetur
            </h4>
          </a>
          <a href="#" class="cases__item">
            <img src="img/cases-item-img.jpg" alt="">
            <h4>
              Lorem ipsum dolor sit
              amet consectetur
            </h4>
          </a>
          <a href="#" class="cases__item">
            <img src="img/cases-item-img.jpg" alt="">
            <h4>
              Lorem ipsum dolor sit
              amet consectetur
            </h4>
          </a>
        </div>
      </div>
    </div>
    <div class="cases__block" style="background-image: url('img/cases-bg-3.jpg')">
     <div class="container">
       <h3>
         Проектные работы
       </h3>
       <div class="cases__grid">
         <a href="#" class="cases__item">
           <img src="img/cases-item-img.jpg" alt="">
           <h4>
             Lorem ipsum dolor sit
             amet consectetur
           </h4>
         </a>
         <a href="#" class="cases__item">
           <img src="img/cases-item-img.jpg" alt="">
           <h4>
             Lorem ipsum dolor sit
             amet consectetur
           </h4>
         </a>
         <a href="#" class="cases__item">
           <img src="img/cases-item-img.jpg" alt="">
           <h4>
             Lorem ipsum dolor sit
             amet consectetur
           </h4>
         </a>
         <a href="#" class="cases__item">
           <img src="img/cases-item-img.jpg" alt="">
           <h4>
             Lorem ipsum dolor sit
             amet consectetur
           </h4>
         </a>
         <a href="#" class="cases__item">
           <img src="img/cases-item-img.jpg" alt="">
           <h4>
             Lorem ipsum dolor sit
             amet consectetur
           </h4>
         </a>
         <a href="#" class="cases__item">
           <img src="img/cases-item-img.jpg" alt="">
           <h4>
             Lorem ipsum dolor sit
             amet consectetur
           </h4>
         </a>
         <a href="#" class="cases__item">
           <img src="img/cases-item-img.jpg" alt="">
           <h4>
             Lorem ipsum dolor sit
             amet consectetur
           </h4>
         </a>
         <a href="#" class="cases__item">
           <img src="img/cases-item-img.jpg" alt="">
           <h4>
             Lorem ipsum dolor sit
             amet consectetur
           </h4>
         </a>
       </div>
     </div>
    </div>
</section>

