<section class="calculator" style="">
  <div class="container">
    <div class="title title--no-number">
      <h2>
        калькулятор
        <strong>
          Онлайн-расчет стоимости
        </strong>
      </h2>
    </div>
    <div class="calculator__block">
      <img src="img/calc-block-icon.svg" alt="">
      <h3>
        Экспресс-тест
      </h3>
      <h4>
        для расчета стоимости проектирования и <br>
        монтажа системы кондиционирования и вентиляции
      </h4>
      <p>
        Ответьте на 8 вопросов и получите смету в онлайн режиме
      </p>
      <button class="btn btn--calculator">
        <span>Начать тест</span>
      </button>
      <span>
        *На прохождение теста потребуется 1-2 минуты
      </span>
    </div>
  </div>
</section>
