<section class="about" style="background-image: url('img/about-bg.jpg')">
  <div class="container">
    <div class="title title--no-number">
      <h2>
        о нас
        <strong>
          Компания
        </strong>
      </h2>
    </div>
    <div class="about__content">
      <p>
        Наша компания специализируется на разработке и внедрении систем отопления, вентиляции и кондиционирования на объектах любого назначения. Основной нашей задачей является в кратчайшие сроки подобрать оптимальное техническое решение по техническим условиям и по бюджету Заказчика.
      </p>
      <p>
        Почти за пять лет работы компании мы достигли немало успехов. Реализовано и запущено более 60 объектов общественного питания, таких как Чайхона №1, Обед Буфет, Steak it Easy, KFC, IL Patio, Dominos Pizza, ФАРШ и т.д. Запущено в эксплуатацию более 400 частных и коммерческих объектов. Общая площадь спроектированных объектов более 300 000 м2.
      </p>
      <blockquote>
        <span>
          Миссия компании «Стандарт Климат»
        </span>
        <span>
          Создание комфортного микроклимата на объектах любого назначения, <br>
          применяя оптимальные технические решения, качественное оборудование и материалы.

        </span>
        <span>
          (Стеблев А.И. основатель)
        </span>
      </blockquote>
    </div>
  </div>
</section>
