<section class="certificates">
  <div class="container">
    <div class="title">
      <p>
        03
      </p>
      <h2>
        сертификаты
        <strong>
          Качество нашей работы
        </strong>
      </h2>
    </div>
    <div class="worker__description">
      подтверждают более 20 профессиональных организаций
    </div>
    <div class="certificates__slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a data-fancybox="gallery" href="img/cer-img-1.jpg" >
              <img src="img/cer-img-1.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a data-fancybox="gallery" href="img/cer-img-2.jpg">
              <img src="img/cer-img-2.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a data-fancybox="gallery" href="img/cer-img-3.jpg">
              <img src="img/cer-img-3.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a data-fancybox="gallery" href="img/cer-img-1.jpg">
              <img src="img/cer-img-1.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
