<section class="worker" style="background-image: url('img/worker-bg.jpg')">
  <div class="container">
    <div class="title">
      <p>
        02
      </p>
      <h2>
        сотрудники
        <strong>
          Ключевые сотрудники нашей компании
        </strong>
      </h2>
    </div>
    <div class="worker__description">
      они несут 100% ответственность за Ваш проект на всех этапах сотрудничества
    </div>
    <div class="worker__slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/worker-1.jpg" alt="">
            <h3>
              ИГОРЬ БУРЕНКОВ
            </h3>
            <p>
              Инженер автоматизации
            </p>
          </div>
          <div class="swiper-slide">
            <img src="img/worker-2.jpg" alt="">
            <h3>
              НИКИТА ПЕТРОВ
            </h3>
            <p>
              Инженер-проектировщик
            </p>
          </div>
          <div class="swiper-slide">
            <img src="img/worker-3.jpg" alt="">
            <h3>
              ЕЛЕНА РОДАЧЕВА
            </h3>
            <p>
              Главный бухгалтер
            </p>
          </div>
          <div class="swiper-slide">
            <img src="img/worker-4.jpg" alt="">
            <h3>
              АНДРЕЙ СТЕБЛЕВ
            </h3>
            <p>
              Исполнительный директор
            </p>
          </div>
          <div class="swiper-slide">
            <img src="img/worker-5.jpg" alt="">
            <h3>
              ВЯЧЕСЛАВ КОРНЕВ
            </h3>
            <p>
              Руководитель монтажного отдела
            </p>
          </div>
          <div class="swiper-slide">
            <img src="img/worker-6.jpg" alt="">
            <h3>
              АЛЕКСЕЙ КЛУНКОВ
            </h3>
            <p>
              Менеджер проектов
            </p>
          </div>
          <div class="swiper-slide">
            <img src="img/worker-7.jpg" alt="">
            <h3>
              ИГОРЬ СТЕБЛЕВ
            </h3>
            <p>
              Главный инженер
            </p>
          </div>
          <div class="swiper-slide">
            <img src="img/worker-8.jpg" alt="">
            <h3>
              АЛЕКСЕЙ РОССИЙСКИЙ
            </h3>
            <p>
              Инженер ОВиК
            </p>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
