<section class="address" style="background-image: url('img/address-bg.jpg')">
  <div class="container">
    <div class="title title--no-number">
      <h2>
        адрес
        <strong>
          ООО "Стандарт Климат "
        </strong>
      </h2>
    </div>
    <div class="address__grid">
      <div class="address__block">
        <img src="img/address-icon-1.png" alt="">
        <h3>
          Адрес:
        </h3>
        <p>
          125493, г. Москва, ул. Флотская,
          дом 5, корп. 2, офис 535
        </p>
      </div>
      <div class="address__block">
        <img src="img/address-icon-2.png" alt="">
        <h3>
          Телефоны:
        </h3>
        <p>
          <a href="tel:+74956416444">+7 (495) 641-64-44 </a>
        </p>
      </div>
      <div class="address__block">
        <img src="img/address-icon-3.png" alt="">
        <h3>
          Часы работы:
        </h3>
        <p>
          пн-пт 9:00 – 18:00
        </p>
        <p>
          сб-вс – выходной
        </p>
      </div>
    </div>
  </div>
</section>
