<section class="requisites">
  <div class="container">
    <div class="title title--no-number">
      <h2>
        реквизиты
        <strong>
          Наши реквизиты
        </strong>
      </h2>
    </div>
    <div class="requisites__inner-wrapper">
      <div class="requisites__block">
        <p>
          <strong>
            ООО «Стандарт Климат»
          </strong>
        </p>
        <p>
          <strong>
            Юридический адрес:
          </strong> 125493, г. Москва, ул. Флотская, д. 5, корп. 2, оф. 535
        </p>
        <p>
          <strong>
            Фактический адрес:
          </strong> 125493, г. Москва, ул. Флотская, д. 5, корп. 2, оф. 535
        </p>
        <p>
          <strong>
            Телефон:
          </strong> <a href="tel:+74956416444">+7 (495) 641 64 44</a>
        </p>
        <p>
          <strong>
            E-mail:
          </strong> <a href="mailto:info@st-ovk.ru">info@st-ovk.ru</a>
        </p>
        <p>
          <strong>
            ИНН:
          </strong> 7725299253
        </p>
        <p>
          <strong>
            КПП:
          </strong> 774301001
        </p>
        <p>
          <strong>
            ОГРН:
          </strong> 5157746146575
        </p>
        <p>
          <strong>
            ОКПО:
          </strong> 52591697
        </p>
        <p>
          <strong>
            ОКАТО:
          </strong> 45296559000
        </p>
        <p>
          <strong>
            Наименование банка:
          </strong> АО «Райффайзенбанк» г. Москва
        </p>
        <p>
          <strong>
            БИК:
          </strong> 044525700
        </p>
        <p>
          <strong>
            Расчетный счет:
          </strong> 40702810300000014054
        </p>
        <p>
          <strong>
            Корреспондентский счет:
          </strong> 30101810200000000700
        </p>
        <p>

          <strong>
            Генеральный директор:
          </strong> Стеблев Андрей Игоревич
        </p>
      </div>
      <div class="requisites__logo">
        <a href="#">
          <img src="img/logo.png" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
<div id="map">

</div>

