<section class="engin-sys">
  <div class="container">
    <div class="title title--no-number">
      <h2>
        статьи
        <strong>
          Полезная информация о проектировании и монтаже
          климатических систем
        </strong>
      </h2>
    </div>
    <div class="engin-sys__description">
      Компания "Стандарт Климат" выполняет полный цикл работ начиная с проекта и заканчивая сервисным обслуживанием.    </div>
    <div class="engin-sys__grid">
      <a href="#">
        <img src="img/engin-sys-link-img.jpg" alt="">
        <h3>
          Отопление
        </h3>
      </a>
      <a href="#">
        <img src="img/engin-sys-link-img-2.jpg" alt="">
        <h3>
          Вентиляция
        </h3>
      </a>
      <a href="#">
        <img src="img/engin-sys-link-img-3.jpg" alt="">
        <h3>
          Кондиционирование
        </h3>
      </a>
      <a href="#">
        <img src="img/engin-sys-link-img-4.jpg" alt="">
        <h3>
          Увлажнение
        </h3>
      </a>
      <a href="#">
        <img src="img/engin-sys-link-img-5.jpg" alt="">
        <h3>
          Автоматизация
        </h3>
      </a>
      <a href="#">
        <img src="img/engin-sys-link-img-6.jpg" alt="">
        <h3>
          Осушение
        </h3>
      </a>
      <a href="#">
        <img src="img/engin-sys-link-img-8.jpg" alt="">
        <h3>
          Водоснабжение и
          канализация
        </h3>
      </a>
    </div>
  </div>
</section>
