<footer class="footer">
  <div class="container">
    <div class="footer__top-bar">
      <a href="#" class="footer__logo logo logo--footer">
        <img src="img/logo.png" alt="">
      </a>
      <ul class="footer__social">
        <li>
          <a href="#">
            <img src="img/instagram.svg" alt="">
          </a>
        <li>
          <a href="#">
            <img src="img/facebook.svg" alt="">
          </a>
        <li>
          <a href="#">
            <img src="img/vk.svg" alt="">
          </a>
        </li>
      </ul>
      <a href="tel:+74956416444" class="footer__tel-number tel-number tel-number--footer">
        7 (495) 641-64-44
      </a>
      <button class="button button--footer modal_open">
        <span>
          заказать звонок
        </span>
      </button>
    </div>
    <div class="footer__copyright">
      <p>
        <a href="#">
          Политика конфиденциальности
        </a>
      </p>
      <p>
        © ООО «Стандарт-Климат»
      </p>
      <p>
        Разработка сайта и продвижение Zenga.ru
      </p>
      <img src="img/logo-zenga.png" alt="">
    </div>
  </div>
</footer>
